

/* bendri stiliai */

body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #F7F9FB;
    background: none;
    overflow-x: hidden;
	  min-height: 100vh;
	  
	
}

/* virsutiniai stiliai */

#top{
    background: #31708E;
    padding: 10px 0;
	
}
#top .offer{
    color: #ffffff;
}

#top .offer .btn{
	text-transform:uppercase;
}

@media (max-width:991px){
#top .offer {
	margin-bottom:10px;
	}
}
@media (max-width:991px){
	 #top{
	 font-size:12px;
	 text-align: center;
	 }
}
#top a{
	color:#ffffff;
}

#top ul.menu{
	padding-top:5px;
	margin:0px;
	text-align:right;
	font-size: 12px;
	list-style:none;
}

@media(max-width:991px)
{
	#top ul.menu{
		text-align:center;
	}
}

#top ul.menu > li {
	display:inline-block;
}

#top ul.menu > li a{
	color:#eeeeee;
}

#top ul.menu > li + li:before{
	content: "|\00a0";
	color: #f7f7f7;
	padding: 0 5px;
	}
	
/* Header stilius*/
.navbar{
    background: #ffffff;
}
.navbar-collapse .right{
    float: right;
}

.navbar-brand{
	float:left;
	padding:10px 15px;
	font-size:18px;
	line-height:20px;
	height:80px;
}

.navbar-brand:hover,
.navbar-brand:focus{
	text-decoration:none;
}

.navbar ul.nav > li > a{
	text-transform:uppercase;
	font-weight: bold;
	font-size: 14px;
}

.navbar ul.nav > li > a:hover{
	
	background:#e7e7e7;
}

.padding-nav{
	
padding-top:10px;
}

#search .navbar-form{
	float: right;
}

#search{
	clear:both;
	border-top:solid 1px black;
	text-align: right;
}

#search .navbar-form .input-group{
	display:table;
}

#search .navbar-form .input-group .form-control{
	
	width:100%;
	
}

#slider{
	margin-bottom:40px;
	
}
/*advantages stiliai*/

#advantages{
	text-align:center;
}

.box{
	background: #ffffff;
	margin: 0 0 30px;
	border: solid 1px #e6e6e6;
	box-sizing: border-box;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#advantages .box h3{
	position:relative;
	margin: 0 0 20px;
	font-weight:300;
	text-transform: uppercase;
	z-index:2;
	color:#4fbfa8;
}
#advantages .box p{
	position:relative;
	margin: 0 0 20px;
	font-weight: bold;
	
	text-transform: uppercase;
	z-index:2;
	color:black;
	
}


/*Naujausiu pasiulymu stilius*/

#hot h2{
	font-size: 36px;
	font-weight:400;
	color:#4fbfa8;
	text-align:center;
	text-transform: uppercase;
}

#content{
	padding-left:25px;
}

.single{
	width:290px;
}

@media(max-width:768px) {
	.single{
		width:60%;
		margin: 0 auto;
	}
}

#content .product{
	background:#ffffff;
	border: solid 1px #e6e6e6;
	margin-bottom: 30px;
	box-sizing: border-box;

}

#content .product .text p .price{
	font-size:18px;
	text-align:center;
	font-weight:400;
}

/*FOOTER*/

.footer {
  background-color:#d0d0d0;
}

#copyright{
	background: #333333;
	color: #cccccc;
	padding: 20px 0px;
	font-size:12px;
}

#copyright p{
	margin: 0px;
}


/*KATEGORIJOS*/


#content .panel.sidebar-menu{
	box-sizing: border-box;
	box-shadow: 0px 1px 5px rgba(0,0,0, .5);
}

#content .panel.sidebar-menu ul.nav.category-menu{
	margin-bottom: 20px;
}

#content .panel.sidebar-menu ul.nav.category-menu li a{
	text-transform: uppercase;
	font-weight: 600;
}





/*cart.php stilius*/
#content #cart .table tbody tr td img{
	width: 50px;
}


#content #cart .table tbody tr td {
	width:40px;
	text-align: right;
	vertical-align:middle;
}

#content #cart .table tfoot{
	font-size:18px;
}

.box .box-footer{
	background-color:#f7f7f7;
	margin: 30px -20px 20px;
	padding: 20px;
	border: 1px solid #eeeeee;
}

/*Details.php stilius*/

#content #productMain{
	
margin-bottom:30px;
}

#content #productMain .price {
	font-size:30px;
	font-weight:300;
	text-align: center;
	margin-top: 30px;
}

#content #mainImage {
	box-shadow: 0px 1px 5px rgba(0,0,0, .7);
}